body {
    background-color: #eef9bf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.titulo {
    color: #75B79E;
    font-size: 56px;
    line-height: 65.63px;
    margin-bottom: 20px;
}

.carta {
    border: 1px solid #99CEA8;
    background: #A7E9AF;
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.carta img {
    width: 100%;
    height: 100%;
}

.todas-cartas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cima, .baixo {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cima {
    margin-bottom: 20px;
}

.baixo {
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .titulo {
        font-size: 36px;
    }

    .cima, .baixo {
        flex-direction: column;
    }

    .carta {
        margin: 10px auto;
    }
}
